<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <title>Kheswa Nompilo</title>
</head>

 <div id="page-wrap">
  <body style="background-color:lightpink ">
 
     <img src="../assets/nompilo.jpg" alt="Photo of mpilo" width="20%" height="200hv"/>
     <div id="contact-info" class="vcard"></div>
<div class="container">
    <h1 class="fn">Nompilo Kheswa</h1>
    <div class="w3-container w3-text-black">
      <p>
      </p>
    </div>

    <div class="w3-container w3-card w3-white w3-margin-bottom">
      <p class="w3-large"><b><i class="fa fa-user fa-fw w3-margin-right w3-text-pink"></i>Personal Information</b></p>
              
      <div class="container">
          <p><i class="fa fa-building fa-fw w3-margin-right w3-large w3-text-pink"></i>Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-pink"></i>Soweto, SA</p>
          <p><i class="fa fa-at fa-fw w3-margin-right w3-large w3-text-pink"></i>mpilokheswa5@gmail.com</p>
          <p><i class="fa fa-mobile fa-fw w3-margin-right w3-large w3-text-pink"></i>0658175501</p>      
      </div>
    </div>
              
    <div class="w3-container w3-card w3-white w3-margin-bottom">
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-pinterest-p fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Personal Profile</h2>               
      <div class="container">
        <p>I am a 23 year old ambitious female who is prepared to achieve the desired goals of the Job description.
                            I am a hard worker, self-motivated, goal oriented individual who is always looking for a challenge to enhance
                            my skills and knowledge, I like to interact with other people and adapt easily to different kinds of environment. 
                            I can handle pressure. I can speak isiZulu and English fluently. I am eager to be challenged in order to grow and further improve my IT skills. 
                            My greatest passion is in life is using my technical know-how to benefit other people</p>
        <hr>
      </div>
    </div>
      
    <div class="clear"></div>
    <dl>
    <dd class="clear"></dd>
          
    <div class="w3-container w3-card w3-white w3-margin-bottom">
      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Education</h2>
                  
      <div class="container">
        <dd>
          <h5 class="w3-opacity"><b>Durban University Of Technology</b></h5>
            <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014-2017</h6>
                <p>National Diploma in Information Technology(Software Development)</p>
                <h6 class="w3-text-pink"><i class="fa fa-book fa-fw w3-margin-right"></i>Completed Modules</h6>
                  Development Software<br>
                  Technical Programming<br>
                  Systems Software <br>
                  Information Systems<br>


                <h5 class="w3-opacity"><b>Phathakahle High School</b></h5>
                <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013</h6>
                <p>Matric</p>
                <h6 class="w3-text-pink"><i class="fa fa-archive fa-fw w3-margin-right"></i>Completed Subjects</h6>
                  Computer Applications Technology<br>
                  Mathematics<br>
                  Physical Sciences<br>
                  Life Sciences <br>
                  Life Orientations<br>
                  Isizulu<br>
                  English<br>
      </dd>
      </div>
  </div>

  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-list fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Skills</h2>
      <div class="container">
        <p>
          <li>Java</li>
          <li>C#</li>
          <li>PL/SQL</li>
          <li>SQL</li>
          <li>HTML</li>
          <li>Analysis</li>
          
        </p>
      </div>
  </div>

  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-building fa-fw w3-margin-right w3-xxlarge w3-text-pink"></i>Work Experience</h2>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Mobile App Trainee/Code Tribe Academy</b></h5>
      <h6 class="w3-text-pink"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2019 - <span class="w3-tag w3-pink w3-round">Current</span></h6>
    </div>  
  </div>   
          
  <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h6 class="w3-text-pink"><i class="fa fa-users fa-fw w3-margin-right w3-xxlarge"></i>References</h6>        
              <div class="w3-container">
            
            <ul>
                Name:			Mr Zenzele Vilakazi<br>
                Designation:		IT Lecture <br>
                Contact number:	031 373 5582<br>
                Email:			vilakazi@dut.ac.za<br>
                
              
  
            </ul>
  
  
                  </div> 
        
  
  </div>



<footer class="w3-container w3-pink w3-center w3-square-xxlarge w3-margin-top">
     <p>Find me on social media.</p>
     <i class="fa fa-facebook-official w3-hover-grayscale"></i>
     <i class="fa fa-snapchat w3-hover-grayscale"></i>
     <i class="fa fa-pinterest-p w3-hover-grayscale"></i>
     <i class="fa fa-linkedin w3-hover-grayscale "></i>
     <i class="fa fa-instagram w3-hover-grayscale"></i>
</footer>

<router-outlet></router-outlet>

<br>


<router-outlet></router-outlet>
